[
    %% social_api config:
    {social_api, [
        {network,               odnoklassniki},
        {app_id,                "CBACJLABABABABABA"},
        {secret_key,            "B0DBC092EB43EDDBC011075B"},
        {client_options,        [{host, "api-sandbox.odnoklassniki.ru:8088"}]},
        {server_options,        [{ip, "0.0.0.0"}, {port, "8099"}, {mode, parsed}]}
    ]},

    %% SASL config
    {sasl, [
%         {sasl_error_logger, {file, "log/sasl-error.log"}},
%         {errlog_type, error},
%         {error_logger_mf_dir, "log/sasl"},
%         {error_logger_mf_maxbytes, 10485760},
%         {error_logger_mf_maxfiles, 5}
    ]}
].
